
#section {
    padding:0;
	margin:0;
	color:black;
	box-sizing: border-box;
    display: flex;
    justify-content: center;
}

/*
  holds everything 
*/
#sub{
    padding-left: 20px;
    padding-top: 20px;
    display: inline-block;
    width:95%;
}

/*
    the slider it self
*/
#slider{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
    position: relative;
    align-items: center;
    padding-bottom: 10px;
   margin-top: 50px;

}
/*
 arrows
*/
#right , #left{
   opacity: 0.8;
    position: absolute;
}
#left{
    left: 0;
}
#right{
    right: 0;
}
#right:hover , #left:hover{
   opacity:1;
}

/*
   cards of courses 
*/
#content::-webkit-scrollbar{
    display: none;
}

#content{
    width: 89%;

    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    
}

.card{
    width : 275px;
    height:100%;
    
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

}

.img{
    width: 100%;
    height:175px;
}
.title{
     width: 275px;
     white-space: normal;
	 font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
	 font-weight: 650;
	 font-size:16px;
     margin: 0;
}
.inst{
    font-size:16px;
    color:#808080;
    margin: 0;
}
.s{
    color: #FFD700;
}
.section {
    margin-top: 30px;
    padding: 30px;
    border: 0.2px solid rgb(92, 87, 87);
}
.coursestitle{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;   
     font-weight: 800;
    font-size: 45px;
}

/*
   section -> sub -> h,p ,( slider-cont ->  content )
*/